# Copier vers .env.local et remplir avec le code fourni par Google Search Console
# Propriété > Paramètres > Vérification de la propriété > Balise HTML
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=votre_code_de_verification_google
